Курсовая работа

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')

%matplotlib inline

In [2]:
data=pd.read_csv('Course_work/train.csv')
test=pd.read_csv('Course_work/test.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [4]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [5]:
data.loc[data['Rooms']==0,'Rooms']=1

In [6]:
data.loc[data['Rooms']==10.0,'Rooms']=2
data.loc[data['Rooms']==19.0,'Rooms']=1

In [7]:
def prepare_square(df):
    df.loc[df['Square']>(df['Rooms']*40+40),'Square']=df['Rooms']*40+40
    df.loc[df['Square']<(df['Rooms']*15),'Square']=df['Rooms']*15
    return df

In [8]:
data=prepare_square(data)

In [9]:
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,B,B,23,3684,2,NaN,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,B,B,52,11217,1,2300.0,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,NaN,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,B,B,53,13670,4,NaN,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,B,B,33,6783,3,NaN,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,521919.057400
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,127200.026511
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,B,B,46,9515,5,NaN,1,10,B,215083.969056
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,571069.052600
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,B,B,24,5613,5,1340.0,2,5,B,241718.099527
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,NaN,0,0,A,337299.867936
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,173910.923723
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,B,B,0,168,0,NaN,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,B,B,36,5992,0,NaN,1,1,B,213374.166403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,B,B,22,4789,2,4087.0,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,NaN,1,6,A,228845.682509
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,222068.370598
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,B,B,22,6398,141,1046.0,3,23,B,65949.315881
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,175229.645872
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,174497.101781
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,185996.664227
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,B,B,33,8667,2,NaN,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,750.0,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,3.465608e-02,B,B,0,168,0,NaN,0,0,B,115797.553006
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,NaN,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,B,B,6,1318,1,200.0,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,B,B,52,10311,6,NaN,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,350684.628560
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,171323.515653
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,B,B,30,5562,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,7.215758e-02,B,B,2,629,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [10]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.887900,56.079022,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.812527,18.629121,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,15.000000,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.784790,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.535436,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.925548,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,6.000000,240.000000,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

In [12]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,3959.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.910000,56.449500,36.158810,5.976800,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.179466,0.838594,19.092787,17.825287,9.950018,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,0.000000,1.378543,0.333490,0.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.906231,23.092026,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.921340,32.925087,6.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,45.174091,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,212.000000,17.000000,223.453689,303.071094,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [13]:
test.loc[test['Rooms']==0,'Rooms']=1

In [14]:
test.loc[test['Rooms']==10.0,'Rooms']=2
test.loc[test['Rooms']==19.0,'Rooms']=1

In [15]:
test=prepare_square(test)

In [16]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,3959.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.910400,56.409960,36.158810,5.976800,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.179466,0.837921,18.898287,17.825287,9.950018,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,1.000000,15.000000,0.333490,0.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.920449,23.092026,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.928839,32.925087,6.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.295632,45.174091,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,212.000000,17.000000,255.000000,303.071094,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [17]:
train, valid =train_test_split(data, test_size=0.3, random_state=42)

In [18]:
train.shape, valid.shape

((7000, 20), (3000, 20))

In [19]:
distr_size=(train['DistrictId'].value_counts()>180).astype(int).reset_index().rename(columns={'index':'DistrictId',\
                                                                                   'DistrictId':'large_district'})
distr_size

     DistrictId  large_district
0            27               1
1             1               1
2            23               1
3             6               1
4             9               1
5            62               0
6            30               0
7            53               0
8            58               0
9            21               0
10            8               0
11           52               0
12           11               0
13           61               0
14           46               0
15           45               0
16           74               0
17           57               0
18           34               0
19           99               0
20           44               0
21          101               0
22           47               0
23            7               0
24           13               0
25           48               0
26           41               0
27            2               0
28           29               0
29           84               0
..          ...             ...
172         152               0
173         168               0
174         180               0
175         200               0
176         182               0
177         136               0
178          82               0
179         141               0
180         184               0
181         192               0
182         175               0
183         171               0
184         201               0
185         172               0
186         186               0
187         179               0
188         133               0
189         181               0
190         185               0
191         193               0
192         195               0
193         159               0
194          50               0
195         202               0
196         205               0
197         158               0
198         209               0
199         208               0
200         117               0
201         199               0

[202 rows x 2 columns]

In [20]:
def add_distr_size(df, distr_size):
    df=pd.merge(df, distr_size, on='DistrictId', how='left')
    df['large_district']=df['large_district'].fillna(0)
    return df

In [21]:
train = add_distr_size(train, distr_size)
train

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,large_district
0,14604,23,1.0,41.681380,22.796166,8.0,14,17.0,2015,0.075779,...,B,6,1437,3,NaN,0,2,B,88504.384965,1
1,5621,23,3.0,160.000000,161.504222,12.0,5,3.0,1977,0.014073,...,B,2,475,0,NaN,0,0,B,207007.956663,1
2,235,87,1.0,39.710131,19.538663,8.0,4,17.0,1986,0.100456,...,B,43,7227,0,NaN,1,6,A,182126.280899,0
3,16258,48,3.0,96.056784,98.152802,1.0,15,1.0,2017,0.041125,...,B,46,9515,5,NaN,1,10,B,524365.550705,0
4,10773,77,3.0,79.195825,44.421062,10.0,16,17.0,1984,0.298205,...,B,16,4048,3,NaN,1,3,B,322048.433990,0
5,3766,62,3.0,127.417560,NaN,0.0,9,0.0,1977,0.072158,...,B,2,629,1,NaN,0,0,A,282877.332154,0
6,11463,129,3.0,72.953912,39.478723,9.0,16,15.0,1991,0.460556,...,B,20,4386,14,NaN,1,5,B,358129.914474,0
7,15037,11,2.0,46.430852,31.678912,5.0,2,5.0,1960,0.038693,...,B,28,6533,1,1015.0,2,5,B,175973.694767,0
8,4389,39,2.0,54.326263,34.394391,9.0,3,12.0,1974,0.428826,...,B,25,5011,8,730.0,0,2,B,240019.792399,0
9,15829,104,3.0,75.777599,45.381156,9.0,2,9.0,1985,0.327018,...,B,12,2270,23,2500.0,1,0,B,468039.075500,0
10,11439,75,3.0,52.264434,38.101494,10.0,8,9.0,1970,0.307467,...,A,30,5048,9,325.0,2,5,B,216094.268430,0
11,12792,103,2.0,52.799556,30.623261,8.0,11,14.0,2002,0.151346,...,A,32,5889,10,830.0,4,1,B,317648.066012,0
12,9737,53,2.0,56.803895,32.178167,10.0,10,22.0,2018,0.049637,...,B,34,7759,0,229.0,1,3,B,294673.205869,0
13,9347,27,1.0,46.513651,21.032802,14.0,7,6.0,1977,0.075424,...,B,11,3097,0,NaN,0,0,B,124345.245905,1
14,8849,45,1.0,63.419553,2.286357,1.0,3,1.0,1977,0.195781,...,B,23,5212,6,NaN,3,2,B,325600.765809,0
15,4081,55,2.0,54.267397,33.953791,9.0,17,17.0,1987,0.041365,...,B,31,5569,0,NaN,1,4,B,239628.452311,0
16,15259,41,2.0,52.249040,34.172055,9.0,3,12.0,2008,0.175055,...,B,36,10055,3,NaN,1,0,B,261238.418527,0
17,16202,105,1.0,22.072457,16.540036,2.0,4,9.0,1963,0.069660,...,B,31,6119,4,NaN,1,2,B,126778.794309,0
18,15980,1,1.0,42.106365,41.782263,1.0,15,1.0,2019,0.007122,...,B,1,264,0,NaN,0,1,B,138632.726757,1
19,6813,86,1.0,32.249425,17.686452,5.0,2,5.0,1964,0.161976,...,A,31,7010,5,4508.0,3,7,B,163942.146694,0
20,11989,62,3.0,104.446306,1.451067,1.0,12,15.0,2015,0.072158,...,B,2,629,1,NaN,0,0,A,223692.672480,0
21,334,1,3.0,81.097858,NaN,1.0,9,17.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,243193.220757,1
22,12217,23,1.0,35.770587,35.287517,1.0,7,9.0,2016,0.034656,...,B,0,168,0,NaN,0,0,B,72962.598347,1
23,4447,5,2.0,43.940980,33.009631,5.0,3,5.0,1965,0.150818,...,B,16,3433,4,2643.0,4,5,B,87228.774062,0
24,7379,122,1.0,47.009777,20.804588,8.0,9,10.0,2001,0.033494,...,B,66,10573,1,1322.0,3,8,B,216432.644184,0
25,3699,1,1.0,42.648865,38.536728,0.0,8,17.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,159350.917190,1
26,16340,78,3.0,64.411580,45.160296,6.0,3,9.0,1977,0.219006,...,B,28,6746,3,NaN,1,4,B,218469.023207,0
27,793,66,1.0,33.890552,20.578521,5.0,3,5.0,1965,0.161976,...,A,31,7010,5,4508.0,3,7,B,175111.807648,0
28,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000,...,B,30,5562,0,NaN,0,5,A,189050.289571,0
29,10367,29,1.0,39.635556,26.631197,4.0,5,5.0,1962,0.069660,...,B,31,6119,4,NaN,1,2,B,171941.594634,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6970,11025,27,2.0,96.043563,100.982133,10.0,5,6.0,2014,0.075424,...,B,11,3097,0,NaN,0,0,B,126277.109148,1
6971,3035,94,2.0,47.802228,32.542126,6.0,5,12.0,1975,0.521867,...,B,25,6149,0,NaN,0,0,B,162335.014034,0
6972,9240,90,1.0,46.819679,18.682641,11.0,13,22.0,2012,0.265089,...,B,37,5288,0,1937.0,3,2,B,113913.687959,0
6973,15891,27,3.0,82.630590,NaN,0.0,11,0.0,1977,0.017647,...,B,2,469,0,NaN,0,0,B,221431.000082,1
6974,12545,9,3.0,83.978425,NaN,1.0,10,1.0,1977,0.161532,...,B,25,5648,1,30.0,2,4,B,219577.830422,1
6975,16003,52,1.0,40.952889,NaN,10.0,7,20.0,2016,0.371149,...,B,34,7065,1,750.0,2,5,B,136120.741367,0
6976,6436,79,3.0,91.282600,50.819134,11.0,19,25.0,1979,0.307467,...,A,30,5048,9,325.0,2,5,B,182452.764759,0
6977,12105,13,4.0,88.174556,56.181302,8.0,2,14.0,2002,0.090799,...,B,74,19083,2,NaN,5,15,B,352400.566771,0
6978,13340,2,3.0,78.404601,47.320022,8.0,11,14.0,1997,0.309479,...,B,35,7715,4,990.0,0,6,B,357531.251399,0
6979,393,27,2.0,62.086918,NaN,1.0,3,22.0,1977,0.211401,...,B,9,1892,0,NaN,0,1,B,148406.643824,1
6980,7208,134,2.0,53.216424,31.991919,11.0,14,16.0,1975,0.015017,...,B,17,3079,59,2890.0,0,8,B,349860.974274,0
6981,16388,23,2.0,56.751532,52.593888,1.0,8,9.0,2016,0.034656,...,B,0,168,0,NaN,0,0,B,110750.169067,1
6982,3902,23,1.0,27.442238,NaN,1.0,4,4.0,1977,0.034656,...,B,0,168,0,NaN,0,0,B,65547.071846,1
6983,6588,26,2.0,63.508322,35.849535,10.0,11,16.0,1986,0.000000,...,B,36,6714,2,2672.0,0,2,B,296679.910300,0
6984,1993,58,2.0,55.493316,31.841669,7.0,6,9.0,1969,0.148904,...,B,9,1952,1,1430.0,3,2,B,150538.910993,0
6985,3134,27,2.0,62.245962,62.184284,10.0,5,5.0,2016,0.072158,...,B,2,629,1,NaN,0,0,A,197796.499229,1
6986,2153,37,2.0,60.542162,NaN,1.0,15,17.0,1977,0.178917,...,B,18,3594,4,192.0,1,5,B,297735.254938,0
6987,7663,61,1.0,40.110681,21.115757,8.0,3,12.0,1978,0.300323,...,B,52,10311,6,NaN,1,9,B,164122.130995,0
6988,5234,30,1.0,29.947691,NaN,1.0,11,22.0,2018,0.000078,...,B,22,6398,141,1046.0,3,23,B,99110.577389,0
6989,1454,21,3.0,51.195460,36.951319,5.0,10,9.0,1974,0.194489,...,B,47,8004,3,125.0,3,5,B,213426.111753,0
6990,10278,23,1.0,43.880576,42.972991,1.0,12,17.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,139897.079874,1
6991,10587,93,1.0,40.628106,21.245799,8.0,8,12.0,1984,0.050900,...,B,43,10621,1,30.0,2,3,B,148458.941020,0
6992,2086,12,2.0,57.872882,34.866716,9.0,11,17.0,1996,0.090799,...,B,74,19083,2,NaN,5,15,B,259369.044635,0
6993,4718,27,2.0,60.977922,NaN,1.0,8,19.0,1977,0.211401,...,B,9,1892,0,NaN,0,1,B,132806.057204,1
6994,9708,39,2.0,64.496924,30.107720,12.0,14,16.0,2006,0.428826,...,B,25,5011,8,730.0,0,2,B,313163.356409,0
6995,10013,30,2.0,62.219340,62.405338,1.0,4,2.0,2015,0.000078,...,B,22,6398,141,1046.0,3,23,B,150136.610509,0
6996,6431,25,3.0,85.790813,NaN,1.0,9,25.0,2018,0.069753,...,B,53,13670,4,NaN,1,11,B,328680.869407,0
6997,14239,1,3.0,83.225854,NaN,1.0,13,17.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,255102.406709,1
6998,5487,94,3.0,51.354934,36.538453,5.0,1,9.0,1973,0.127376,...,B,43,8429,3,NaN,3,9,B,182236.048759,0
6999,2135,2,2.0,88.364677,42.822492,11.0,12,16.0,1993,0.035145,...,B,42,9292,3,2620.0,0,3,B,443365.496451,0

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 0 to 6999
Data columns (total 21 columns):
Id                7000 non-null int64
DistrictId        7000 non-null int64
Rooms             7000 non-null float64
Square            7000 non-null float64
LifeSquare        5514 non-null float64
KitchenSquare     7000 non-null float64
Floor             7000 non-null int64
HouseFloor        7000 non-null float64
HouseYear         7000 non-null int64
Ecology_1         7000 non-null float64
Ecology_2         7000 non-null object
Ecology_3         7000 non-null object
Social_1          7000 non-null int64
Social_2          7000 non-null int64
Social_3          7000 non-null int64
Healthcare_1      3642 non-null float64
Helthcare_2       7000 non-null int64
Shops_1           7000 non-null int64
Shops_2           7000 non-null object
Price             7000 non-null float64
large_district    7000 non-null int32
dtypes: float64(8), int32(1), int64(9), object(3)
memory usage: 1.1+ MB

In [23]:
valid = add_distr_size(valid, distr_size)
valid

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,large_district
0,3702,21,2.0,48.812195,34.679779,5.0,5,5.0,1963,0.034331,...,B,25,5487,3,NaN,0,4,B,181530.459031,0.0
1,12848,61,3.0,81.103039,49.310278,8.0,4,4.0,1960,0.298205,...,B,16,4048,3,NaN,1,3,B,260456.004692,0.0
2,2239,6,3.0,82.882978,3.977650,1.0,8,17.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,219945.304640,1.0
3,15611,23,1.0,33.863324,29.993297,0.0,5,4.0,1977,0.034656,...,B,0,168,0,NaN,0,0,B,66883.280318,1.0
4,5634,52,1.0,43.095135,NaN,1.0,10,17.0,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,114086.065201,0.0
5,14726,53,3.0,84.569998,60.613297,12.0,18,24.0,2017,0.049637,...,B,34,7759,0,229.0,1,3,B,359065.287230,0.0
6,7247,69,2.0,54.663924,29.266790,9.0,13,17.0,1999,0.000991,...,B,33,6783,3,NaN,1,9,B,377445.078933,0.0
7,2018,94,1.0,33.521641,30.155171,1.0,17,16.0,2015,0.282798,...,B,33,8667,2,NaN,0,6,B,381912.162109,0.0
8,14587,6,1.0,40.696294,42.182049,1.0,4,17.0,2014,0.243205,...,B,5,1564,0,540.0,0,0,B,133072.279471,1.0
9,3643,46,2.0,44.369058,31.064926,5.0,1,5.0,1965,0.188784,...,B,31,6137,4,NaN,0,1,B,184036.005146,0.0
10,9838,23,2.0,54.906941,58.338478,10.0,3,3.0,2019,0.005767,...,B,1,388,0,NaN,0,0,B,83530.831950,1.0
11,4335,9,3.0,81.948135,46.351682,8.0,16,14.0,1997,0.161532,...,B,25,5648,1,30.0,2,4,B,256303.828047,1.0
12,7087,130,3.0,79.075323,54.500256,8.0,7,13.0,1960,0.341072,...,B,27,5664,48,2300.0,3,11,B,370625.225094,0.0
13,8500,31,1.0,80.000000,25.299592,29.0,6,40.0,2014,0.151346,...,A,32,5889,10,830.0,4,1,B,460492.010947,0.0
14,6986,74,1.0,43.990708,43.429296,0.0,10,17.0,2017,0.075779,...,B,6,1437,3,NaN,0,2,B,158693.839439,0.0
15,3042,69,2.0,53.976424,32.481557,9.0,7,17.0,2001,0.000991,...,B,33,6783,3,NaN,1,9,B,397738.929731,0.0
16,416,63,1.0,58.959447,56.542921,1.0,20,18.0,2018,0.238617,...,B,26,3889,6,705.0,3,6,B,345310.951954,0.0
17,10317,75,2.0,43.765745,22.370705,6.0,5,14.0,1970,0.122090,...,B,29,6566,7,1894.0,4,0,B,205516.957220,0.0
18,3875,27,3.0,78.767930,58.620605,10.0,7,12.0,1977,0.011654,...,B,4,915,0,NaN,0,0,B,176042.285354,1.0
19,10867,23,2.0,53.317372,NaN,1.0,11,17.0,1977,0.034656,...,B,0,168,0,NaN,0,0,B,109890.139020,1.0
20,11791,55,2.0,53.547060,32.407939,8.0,13,17.0,1987,0.041365,...,B,31,5569,0,NaN,1,4,B,221618.027734,0.0
21,7541,1,1.0,60.001130,NaN,0.0,8,0.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,198345.433642,1.0
22,6901,44,2.0,46.279389,30.736113,6.0,6,9.0,1980,0.036122,...,B,24,4378,0,1036.0,1,1,B,187299.327683,0.0
23,16710,23,1.0,47.347306,NaN,1.0,7,9.0,1977,0.014073,...,B,2,475,0,NaN,0,0,B,97300.152929,1.0
24,6355,45,2.0,71.924217,NaN,0.0,16,0.0,1977,0.195781,...,B,23,5212,6,NaN,3,2,B,375417.950590,0.0
25,4287,78,2.0,46.585547,31.125000,6.0,7,9.0,1970,0.219006,...,B,28,6746,3,NaN,1,4,B,193698.061597,0.0
26,2752,52,2.0,65.822202,67.791089,1.0,16,17.0,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,186142.087144,0.0
27,14126,27,2.0,65.005220,NaN,1.0,8,7.0,2016,0.017647,...,B,2,469,0,NaN,0,0,B,194163.447594,1.0
28,15822,90,1.0,27.098441,16.660669,3.0,3,5.0,1965,0.265089,...,B,37,5288,0,1937.0,3,2,B,124179.702841,0.0
29,4026,66,3.0,75.315525,48.968601,7.0,5,5.0,1954,0.161976,...,A,31,7010,5,4508.0,3,7,B,199227.693871,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,11967,23,3.0,83.591141,NaN,1.0,3,3.0,1977,0.034656,...,B,0,168,0,NaN,0,0,B,194044.705786,1.0
2971,3455,170,1.0,44.230354,25.279738,8.0,2,5.0,1962,0.218440,...,B,21,4472,6,1450.0,4,7,A,186781.473995,0.0
2972,3565,23,3.0,88.229716,NaN,1.0,19,20.0,1977,0.034656,...,B,0,168,0,NaN,0,0,B,263869.136156,1.0
2973,9256,74,3.0,113.250848,NaN,1.0,14,0.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,372244.403093,0.0
2974,14151,1,2.0,64.595200,NaN,10.0,4,17.0,2015,0.007122,...,B,1,264,0,NaN,0,1,B,203167.125743,1.0
2975,16521,48,3.0,64.454207,43.826082,8.0,10,12.0,1982,0.041125,...,B,46,9515,5,NaN,1,10,B,291305.459902,0.0
2976,11793,101,2.0,56.780214,34.626135,7.0,3,5.0,1959,0.225825,...,B,41,6558,7,1548.0,3,2,B,245793.352846,0.0
2977,14310,173,2.0,42.522186,26.273667,7.0,10,12.0,1973,0.081943,...,B,20,2738,20,NaN,1,4,B,249827.836581,0.0
2978,6231,85,3.0,72.228927,51.536115,6.0,6,9.0,1978,0.037178,...,B,52,11217,1,2300.0,1,7,B,295062.973401,0.0
2979,10442,32,2.0,48.691152,32.598042,5.0,3,5.0,1973,0.135650,...,B,46,7960,6,350.0,3,11,B,211301.009767,0.0
2980,3332,30,1.0,47.395358,NaN,1.0,16,22.0,2015,0.000078,...,B,22,6398,141,1046.0,3,23,B,168983.670745,0.0
2981,14323,53,3.0,80.230847,55.850356,12.0,6,24.0,2018,0.049637,...,B,34,7759,0,229.0,1,3,B,345691.152743,0.0
2982,370,6,3.0,82.030903,78.922956,0.0,27,25.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,211498.637627,1.0
2983,7520,23,1.0,42.377303,22.550578,8.0,6,17.0,2014,0.075779,...,B,6,1437,3,NaN,0,2,B,116270.753935,1.0
2984,6755,3,2.0,46.565247,29.631152,5.0,11,6.0,1971,0.050900,...,B,43,10621,1,30.0,2,3,B,167290.469263,0.0
2985,16510,98,2.0,57.147184,37.638589,8.0,16,16.0,1972,0.195781,...,B,23,5212,6,NaN,3,2,B,340864.901126,0.0
2986,1492,103,1.0,40.189558,20.382858,8.0,15,16.0,1984,0.014423,...,B,19,3806,4,NaN,0,3,B,191780.870033,0.0
2987,8184,99,2.0,44.565189,31.134362,5.0,5,9.0,1970,0.033494,...,B,66,10573,1,1322.0,3,8,B,86954.724541,0.0
2988,14851,29,2.0,47.261895,30.463832,5.0,5,5.0,1964,0.069660,...,B,31,6119,4,NaN,1,2,B,195453.999056,0.0
2989,6925,27,2.0,64.929103,63.304605,10.0,15,17.0,2016,0.072158,...,B,2,629,1,NaN,0,0,A,228584.001072,1.0
2990,1384,21,2.0,44.754589,31.766993,6.0,2,9.0,1974,0.194489,...,B,47,8004,3,125.0,3,5,B,174185.833994,0.0
2991,1332,27,2.0,52.524543,NaN,0.0,7,7.0,1977,0.211401,...,B,9,1892,0,NaN,0,1,B,124265.932850,1.0
2992,4782,111,3.0,76.338906,48.282187,10.0,2,21.0,2007,0.093443,...,B,23,4635,5,3300.0,2,4,B,413742.115143,0.0
2993,3606,4,2.0,45.595236,29.986188,5.0,5,5.0,1961,0.042032,...,B,37,6856,84,1940.0,2,5,B,260449.038197,0.0
2994,1661,11,3.0,67.288833,48.530265,9.0,7,12.0,1972,0.038693,...,B,28,6533,1,1015.0,2,5,B,321703.594585,0.0
2995,10092,26,1.0,35.199090,22.014067,5.0,2,5.0,1966,0.000000,...,B,36,6714,2,2672.0,0,2,B,139561.798320,0.0
2996,8776,27,2.0,67.026174,NaN,1.0,2,17.0,1977,0.211401,...,B,9,1892,0,NaN,0,1,B,154696.067043,1.0
2997,13708,24,2.0,51.954623,NaN,0.0,13,0.0,1977,0.111627,...,B,50,12238,8,1970.0,2,3,B,296550.564643,0.0
2998,15863,58,1.0,47.309137,NaN,1.0,1,1.0,1977,0.437885,...,B,23,5735,3,1084.0,0,5,B,114949.106711,0.0
2999,14423,9,3.0,76.827753,45.809590,9.0,10,12.0,1984,0.136244,...,B,11,2370,0,NaN,0,1,B,113423.377560,1.0

In [24]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 2999
Data columns (total 21 columns):
Id                3000 non-null int64
DistrictId        3000 non-null int64
Rooms             3000 non-null float64
Square            3000 non-null float64
LifeSquare        2373 non-null float64
KitchenSquare     3000 non-null float64
Floor             3000 non-null int64
HouseFloor        3000 non-null float64
HouseYear         3000 non-null int64
Ecology_1         3000 non-null float64
Ecology_2         3000 non-null object
Ecology_3         3000 non-null object
Social_1          3000 non-null int64
Social_2          3000 non-null int64
Social_3          3000 non-null int64
Healthcare_1      1560 non-null float64
Helthcare_2       3000 non-null int64
Shops_1           3000 non-null int64
Shops_2           3000 non-null object
Price             3000 non-null float64
large_district    3000 non-null float64
dtypes: float64(9), int64(9), object(3)
memory usage: 515.6+ KB

In [25]:
from sklearn.ensemble import RandomForestRegressor as RF

In [26]:
model =RF(n_estimators=50, max_depth=8, min_samples_leaf=5, random_state=42)

In [27]:
feats= ['Rooms','Square','large_district']

In [28]:
model.fit(train.loc[:,feats], train['Price'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=8,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=5, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [29]:
pred_train =model.predict(train.loc[:,feats])

In [30]:
pred_train

array([125156.09915661, 303467.76580109, 178730.11438339, ...,
       236062.83643917, 223196.98682705, 317147.80555137])

In [31]:
pred_train.shape

(7000,)

In [32]:
pred_valid =model.predict(valid.loc[:,feats])

In [33]:
pred_valid

array([203313.80160061, 342732.47014261, 227317.84045984, ...,
       232587.30939075, 181050.08028466, 237709.57246849])

In [34]:
from sklearn.metrics import r2_score as r2

In [35]:
r2(train['Price'], pred_train)

0.6017098036215645

In [36]:
r2(valid['Price'], pred_valid)

0.541075519158956

In [37]:
test.shape

(5000, 19)

In [38]:
test = add_distr_size(test, distr_size)
test

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,large_district
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B,0.0
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,0.0
2,5480,190,1.0,15.000000,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B,0.0
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B,0.0
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A,1.0
5,7633,53,1.0,40.675627,NaN,1.0,21,21.0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,0.0
6,13329,23,2.0,68.099538,64.843025,1.0,2,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,1.0
7,5502,32,2.0,48.193897,32.857644,6.0,5,14.0,1972,0.135650,B,B,46,7960,6,350.0,3,11,B,0.0
8,4220,96,3.0,72.277106,45.968758,9.0,17,17.0,1997,0.041116,B,B,53,14892,4,NaN,1,4,B,0.0
9,11538,6,3.0,80.219400,47.660260,9.0,13,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,1.0
10,15975,61,3.0,64.543658,42.651541,7.0,10,9.0,1981,0.300323,B,B,52,10311,6,NaN,1,9,B,0.0
11,3310,6,3.0,84.625350,NaN,1.0,6,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,1.0
12,9286,3,1.0,34.743457,19.772110,6.0,5,9.0,1971,0.265089,B,B,37,5288,0,1937.0,3,2,B,0.0
13,11260,46,2.0,46.813776,31.883008,5.0,4,5.0,1968,0.000000,B,B,47,11319,0,1145.0,3,5,B,0.0
14,5214,27,1.0,37.555197,NaN,1.0,5,1.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,1.0
15,11307,41,1.0,42.267225,21.465927,9.0,7,14.0,1974,0.036122,B,B,24,4378,0,1036.0,1,1,B,0.0
16,13543,167,3.0,80.220720,51.687097,7.0,5,5.0,1959,0.050272,B,B,21,4231,14,1020.0,0,3,B,0.0
17,615,90,1.0,40.596833,21.245197,8.0,14,15.0,1976,0.265089,B,B,37,5288,0,1937.0,3,2,B,0.0
18,3495,27,3.0,82.652818,5.690155,1.0,4,17.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,1.0
19,2321,57,2.0,53.952634,33.506643,9.0,5,14.0,2004,0.090799,B,B,74,19083,2,NaN,5,15,B,0.0
20,12046,46,1.0,38.409202,21.629841,9.0,12,22.0,2000,0.188784,B,B,31,6137,4,NaN,0,1,B,0.0
21,16688,1,1.0,44.878767,NaN,1.0,1,9.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,1.0
22,12694,27,3.0,83.670032,46.358356,0.0,8,0.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,1.0
23,783,61,1.0,34.236032,18.477327,5.0,5,5.0,1970,0.298205,B,B,16,4048,3,NaN,1,3,B,0.0
24,8968,27,2.0,69.849239,NaN,0.0,3,0.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B,1.0
25,13454,11,2.0,44.487951,31.249479,5.0,3,5.0,1964,0.038693,B,B,28,6533,1,1015.0,2,5,B,0.0
26,12190,62,3.0,65.287328,43.399473,6.0,4,12.0,1975,0.002212,B,B,39,7614,3,NaN,1,5,A,0.0
27,11160,58,1.0,48.610661,48.752502,1.0,4,3.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,0.0
28,10291,32,1.0,39.135254,20.144385,9.0,3,14.0,1975,0.135650,B,B,46,7960,6,350.0,3,11,B,0.0
29,891,85,2.0,65.550690,61.689280,10.0,13,22.0,1988,0.037178,B,B,52,11217,1,2300.0,1,7,B,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,1740,57,2.0,47.701998,30.281572,6.0,5,9.0,1980,0.133215,B,B,49,11395,3,1406.0,3,4,A,0.0
4971,3450,93,1.0,38.648108,20.624272,8.0,4,14.0,1986,0.521867,B,B,25,6149,0,NaN,0,0,B,0.0
4972,16064,30,1.0,38.376234,37.003311,1.0,2,1.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,0.0
4973,1804,27,1.0,38.916778,NaN,0.0,11,17.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B,1.0
4974,5296,52,1.0,44.442218,44.634608,0.0,5,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,0.0
4975,5346,53,4.0,110.366487,77.705849,20.0,9,24.0,2018,0.049637,B,B,34,7759,0,229.0,1,3,B,0.0
4976,4723,95,1.0,45.542940,NaN,0.0,6,0.0,1977,0.000699,B,B,14,3369,24,4129.0,0,3,B,0.0
4977,417,77,1.0,32.384127,21.555435,6.0,9,9.0,1976,0.000070,B,B,46,10309,1,240.0,1,16,B,0.0
4978,15756,27,1.0,40.732871,23.959211,8.0,6,9.0,2000,0.041116,B,B,53,14892,4,NaN,1,4,B,1.0
4979,14090,2,1.0,39.082641,33.214358,7.0,10,14.0,1970,0.000000,B,B,33,7425,1,NaN,2,5,B,0.0
4980,14778,32,2.0,57.810897,35.558413,10.0,18,22.0,2004,0.135650,B,B,46,7960,6,350.0,3,11,B,0.0
4981,2560,8,2.0,47.488384,28.896493,6.0,5,5.0,1963,0.437885,B,B,23,5735,3,1084.0,0,5,B,0.0
4982,12920,23,1.0,39.610426,38.187571,1.0,6,18.0,2013,0.034656,B,B,0,168,0,NaN,0,0,B,1.0
4983,8249,58,1.0,39.768340,22.413943,8.0,10,10.0,2005,0.310199,B,B,11,2748,1,NaN,0,0,B,0.0
4984,7125,126,1.0,36.233212,22.885434,9.0,3,12.0,1969,0.333892,B,B,30,6564,1,NaN,0,0,B,0.0
4985,11732,1,1.0,46.597283,NaN,1.0,17,24.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,1.0
4986,13365,35,3.0,82.145360,44.116118,10.0,21,22.0,1998,0.089040,B,B,33,7976,5,NaN,0,11,B,0.0
4987,5361,53,3.0,80.102103,NaN,1.0,13,22.0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,0.0
4988,15937,9,4.0,92.158252,54.168616,12.0,4,14.0,1997,0.161532,B,B,25,5648,1,30.0,2,4,B,1.0
4989,2591,39,2.0,44.203592,30.191691,6.0,10,9.0,1972,0.428826,B,B,25,5011,8,730.0,0,2,B,0.0
4990,15706,94,2.0,47.776485,27.920873,6.0,8,9.0,1970,0.282798,B,B,33,8667,2,NaN,0,6,B,0.0
4991,2105,64,2.0,45.493240,32.022565,6.0,4,9.0,1974,0.135650,B,B,46,7960,6,350.0,3,11,B,0.0
4992,7220,96,3.0,80.182493,48.627326,10.0,10,17.0,2003,0.041116,B,B,53,14892,4,NaN,1,4,B,0.0
4993,14562,113,2.0,46.627882,27.058739,5.0,6,5.0,1969,0.307467,B,A,30,5048,9,325.0,2,5,B,0.0
4994,6836,39,2.0,45.131282,30.780551,6.0,2,5.0,1965,0.428826,B,B,25,5011,8,730.0,0,2,B,0.0
4995,8180,11,3.0,67.133911,50.809797,6.0,5,9.0,1973,0.000170,B,B,36,5992,0,NaN,1,1,B,0.0
4996,4695,1,1.0,40.198472,21.807061,10.0,12,17.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B,1.0
4997,5783,12,3.0,77.842178,48.282625,9.0,23,22.0,1989,0.090799,B,B,74,19083,2,NaN,5,15,B,0.0
4998,4780,62,2.0,81.305222,NaN,0.0,4,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,0.0
4999,12504,30,2.0,60.555693,NaN,1.0,10,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,0.0

In [39]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 20 columns):
Id                5000 non-null int64
DistrictId        5000 non-null int64
Rooms             5000 non-null float64
Square            5000 non-null float64
LifeSquare        3959 non-null float64
KitchenSquare     5000 non-null float64
Floor             5000 non-null int64
HouseFloor        5000 non-null float64
HouseYear         5000 non-null int64
Ecology_1         5000 non-null float64
Ecology_2         5000 non-null object
Ecology_3         5000 non-null object
Social_1          5000 non-null int64
Social_2          5000 non-null int64
Social_3          5000 non-null int64
Healthcare_1      2623 non-null float64
Helthcare_2       5000 non-null int64
Shops_1           5000 non-null int64
Shops_2           5000 non-null object
large_district    5000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 820.3+ KB

In [40]:
test['Price']=model.predict(test.loc[:, feats])

In [41]:
test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,large_district,Price
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,...,B,11,2748,1,NaN,0,0,B,0.0,226286.067242
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,0.0,247888.883285
2,5480,190,1.0,15.000000,15.948246,12.0,2,5.0,1909,0.000000,...,B,30,7538,87,4702.0,5,5,B,0.0,219549.031311
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,...,B,23,4583,3,NaN,3,3,B,0.0,329279.279708
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,...,B,2,629,1,NaN,0,0,A,1.0,139102.781623

In [42]:
test.loc[:,['Id','Price']]

         Id          Price
0       725  226286.067242
1     15856  247888.883285
2      5480  219549.031311
3     15664  329279.279708
4     14275  139102.781623
5      7633  178370.684914
6     13329  185490.717324
7      5502  208015.874671
8      4220  349190.267864
9     11538  222043.401108
10    15975  256131.661293
11     3310  244391.787582
12     9286  159662.694141
13    11260  199331.257301
14     5214  101315.498458
15    11307  178367.437679
16    13543  346743.581606
17      615  178370.684914
18     3495  227014.204974
19     2321  247499.947417
20    12046  182129.529696
21    16688  127727.769754
22    12694  240736.938534
23      783  160224.059674
24     8968  178803.865570
25    13454  197163.424520
26    12190  257396.698382
27    11160  177812.599335
28    10291  178991.020168
29      891  236201.130179
...     ...            ...
4970   1740  199974.178925
4971   3450  179121.832405
4972  16064  182129.529696
4973   1804  124202.110284
4974   5296  174921.872521
4975   5346  483615.113266
4976   4723  180398.990592
4977    417  154805.955080
4978  15756  126003.003036
4979  14090  178991.020168
4980  14778  258568.121263
4981   2560  199620.229110
4982  12920  124227.673100
4983   8249  178730.114383
4984   7125  163945.084805
4985  11732  132257.334164
4986  13365  353465.221443
4987   5361  349558.151219
4988  15937  261220.747041
4989   2591  193286.943318
4990  15706  197779.453364
4991   2105  197001.007452
4992   7220  344801.632619
4993  14562  197949.162715
4994   6836  199672.442098
4995   8180  276884.592054
4996   4695  124943.973449
4997   5783  345086.261176
4998   4780  298348.458173
4999  12504  258666.113408

[5000 rows x 2 columns]

In [43]:
test.loc[:,['Id','Price']].shape

(5000, 2)

In [44]:
test.loc[:,['Id','Price']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 2 columns):
Id       5000 non-null int64
Price    5000 non-null float64
dtypes: float64(1), int64(1)
memory usage: 117.2 KB

In [45]:
test.loc[:,['Id','Price']].to_csv('Course_work/YNesterovich_predictions.csv', index=None)